$bg: #000000;
$testo: #e8e4e6;
$carattere: "Montserrat";
$size: 1.1rem;

$titolo: #39882e;
$size_titolo: 1.5rem;
$carattere_titolo: "Helvetica";

$bg_elementi:#ffffff ;
$bg_elementi_hover: #312f2e;
$c_elementi: rgb(230, 230, 230);
$c_elementi_hover: #ebebeb;