$bg: #000000;
$testo: #e8e4e6;
$carattere: "Montserrat";
$size: 1.1rem;


$size_titolo: 1.5rem;
$carattere_titolo: "Helvetica";

$bg_elementi:#902ced ;
$bg_elementi_hover: #fafafa;
$c_elementi: rgb(230, 230, 230);
$c_elementi_hover: #292424;